:root {
    --white: #fff;
    --blue: #2B689B;
    --light-blue:  #83b7e0;
    --red: rgb(231, 76, 60);
    --light-red: rgb(255, 182, 193);
    --light-green: #84d2db;
    --yellow: #FFD970;
    --shadow: rgba(14, 76, 121, 0.18)
  }

.container {
    display: flex;
    justify-content: center;
}

.reset__block {
    width: 100%;
    max-width: 500px;
    padding: 25px 0;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 4px 4px 25px var(--shadow);
}

.reset__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 50px;
}

.reset__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset__image {
    width: 128px;
    height: 30px;
}

.reset__form {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.reset__form_input {
    display: flex;
    width: 350px;
    height: 100%;
    padding: 10px 22px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--blue) ;
    
}

.reset__form_input::placeholder {
    color: var(--light-blue);
}

.reset__form_control {
    display: flex;
    flex-direction: column;
    position: relative;
}

.reset__form_control::before,
.reset__form_text::before {
    content: "* ";
    color: var(--light-red);
    position: absolute;
    top: 5px;
    left: 11px;
}

.reset__form_input:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid var(--light-green) ;
}

.reset__form_button {
    display: block;
    padding: 20px 40px;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a.reset__form_link:active, 
a.reset__form_link:hover,
a.reset__form_link {
  text-decoration: none;
}

.reset__form_links {
    display: flex;
    width: 100%;
    gap: 35px;
    padding-top: 15px;
    justify-content: center;
}

.reset__form_text {
    width: 370px;
    position: relative;
    padding-left: 25px;
}

.reset__form_warning {
    padding-left: 15px;
}

.reset__form_warning {
    visibility: hidden;
}